{% extends "order/base.html" %}
{% load static %}

{% block content %}
	<div class="container">
	<h1>Checkout</h1>
	
	<h3>Your order</h3>
	
	<ul>
		{% for item in cart %}
			<h4><li>{{ item.quantity }}x {{ item.product.name }} <span>${{ item.total_price }}</span></h4>
		{% endfor %}
	</ul>
	<h3><p>Total: ${{ cart.get_total_price }}</p></h3>
	
	
	<form action="." method="post" class="order_form">
		{{ form.as_p }}
		<p><input class="btn" type="submit" value="Place order" ></p>
		{% csrf_token %}
	</form>
	</div>
{% endblock %}